// bower:scss
// endbower

$bg-color: #fafafa;
$dialog-bg: #f3e0bc;
$dialog-text: #695438;
$dialog-border: 3px;
$dialog-slant: 15px;
$mobile-gap: 100px;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

#main-content {
  position: relative;
  height: 100%;
  padding: 15px;
  background: url('/images/ferret.jpg') no-repeat center;
  background-size: contain;
  text-align: center;
  white-space: nowrap;
  user-select: none;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

.dialog {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  bottom: 300px;
  left: 250px;
  width: 300px;
  margin: 0 auto;
  padding: 20px 30px 18px 30px;
  user-select: initial;
  background: $dialog-bg;
  border: $dialog-border solid $dialog-text;

  white-space: normal;
  font-weight: bold;
  color: $dialog-text;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -#{$dialog-border * 2};
    right: -#{$dialog-border * 2};
    bottom: -#{$dialog-border * 2};
    left: -#{$dialog-border * 2};
    border: $dialog-border solid $dialog-bg;
  }

  p {
    margin: 0;
  }

  .refresh {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background: url('/images/refresh.png') no-repeat;
    background-size: contain;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .slant {
    position: absolute;
    width: 15px;
    height: 15px;
    background: url('/images/slant.png') no-repeat;
    background-size: contain;

    &.tl {
      top: -#{$dialog-border * 2};
      left: -#{$dialog-border * 2};
    }

    &.tr {
      top: -#{$dialog-border * 2};
      right: -#{$dialog-border * 2};
      transform: rotate(90deg);
    }

    &.bl {
      bottom: -#{$dialog-border * 2};
      left: -#{$dialog-border * 2};
      transform: rotate(270deg);
    }

    &.br {
      bottom: -#{$dialog-border * 2};
      right: -#{$dialog-border * 2};
      transform: rotate(180deg);
    }
  }
}

.main-footer {
  position: absolute;
  bottom: 5px;
  right: 5px;

  font-size: 0.75em;
  color: #999;

  a {
    color: #666;
  }

  > span, .github {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  > span {
    margin-right: 5px;
  }

  .github {
    margin-left: 5px;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 815px) {
  body {
    padding-top: $mobile-gap;
  }

  .dialog {
    width: 100%;
    vertical-align: top;
    top: -$mobile-gap;
    bottom: auto;
    left: auto;
  }
}
